---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="row">        
          <div class="profile col-5 col-sm-8 col-md-8">

              {% if profile.image %}
                {% include figure.liquid path="assets/img/zhima.gif" class="img-fluid rounded z-depth-1" %}
              {% endif %}

          </div>

          <div class="col-7 col-sm-4 col-md-4">          
            <h1 class="post-title" style="font-size:30px">
                Sesame（芝麻）
            </h1>
            <p class="desc">{{ page.subtitle }}</p>               
          </div>                      
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
